@CHARSET "UTF-8";
.work .row {
padding-bottom: 60px;
margin-bottom: 60px;
border-bottom: 1px solid #eeeeee;
}
#work-filter {
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 13px;
}
#work-filter li {
	float: left;
	list-style: none;
	margin-right: 5px;
}
#work-filter li a {
	padding: 2px 8px;
	font-size: 11px;
	text-decoration: none;
}

/*work-item-overlay style*/
.work-item-overlay .inner ul li a.gallery-btn:hover {
	background-color: white;
}
.work-item-overlay .inner ul li a.gallery-btn:hover {
	background: #61C168;
}
.work-item-overlay .inner ul li a.gallery-btn {
	background-color: #F5E78B;
	-webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-moz-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-o-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	transition: background-color 0.1s ease-out, color 0.1s ease-out;
	padding: 4px 20px;
	color: black !important;
	font-size: 11px;
	font-weight: 600;
	-moz-border-radius: 50px;
	border-radius: 50px;
	cursor: pointer;
	background-color: #E5E5E5;
}
.work-item-overlay .inner ul {
	list-style: none;
}
.work-item-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: block;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease-out;
	-moz-transition: opacity 0.25s ease-out;
	-o-transition: opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out;
}
.work-item-overlay .inner {
	display: block;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
}
.work-item-overlay:hover {
	-webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-moz-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-o-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	transition: background-color 0.1s ease-out, color 0.1s ease-out;
	opacity: 1;
}
.work-item-image-container {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border: none;
}
.work-item-image-container:hover {
	-webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-moz-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-o-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	transition: background-color 0.1s ease-out, color 0.1s ease-out;
	opacity: 1;
}
.work-item-overlay .inner ul li a.detail-link {
	margin-top: 5px;
	color: #CCC !important;
	display: block;
	text-transform: lowercase;
	-webkit-transition: color 0.1s ease-out;
	-moz-transition: color 0.1s ease-out;
	-o-transition: color 0.1s ease-out;
	transition: color 0.1s ease-out;
}
.work-item-image-container .work-item-overlay .inner ul li a:hover, .work-item-image-container .work-item-overlay .inner ul li a:active {
	outline: 0;
	color: #61c168;
}
.work-item-image-container .work-item-overlay .inner ul li a:hover {
	color: #61c168;
	text-decoration: none;
}
.work-item-image-container .work-item-overlay .inner ul li a {
	color: #0085BD;
	text-decoration: none;
}
.work-item-image-container > img {
	width: 100%!important;
	height: 300px;
}

